
article p {
  margin-left: 30%;
}

article h1, h2 {
  margin-left: 30%;
}

article li> p {
  margin-left: 0%;
}

article .marginnote {
  float: left;
  clear: left;
  margin-left: -50%;
  padding: 0 0 0.8rem 0;
  text-align: right;
  /*! color: blue; */
}

article .source::before {
    content: '— ';
}

article .locuteur {
    font-weight: bold;
}

article img {
    max-width: 50%;
}

article nav {
  display: none;
}

section #bibliography, section #bibliographie, section #bibliografía {
 width: 94%;
 margin-left: auto;
 margin-right: auto;
}

section #bibliography h2, section #bibliographie h2, section #bibliografía h2 {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
}

section #bibliography p, section #bibliographie p, section #bibliografía p {
 margin-left: 10px;
 margin-right: 0px;
}

section.footnotes ol {
  width: 91%;
  font-size: 0.9rem;
}

article hr {
  width: 94%;
  margin-left: 20px;
}

div#piedSensPublic h2, div#menuSitePied h2 {
  margin-left: 0%;
}

div#menu1 li {
  line-height: 1rem;
}