body {
  background-color: #e86aca;
}

#chapoarticle {
  border-top: 50px solid #e86aca;
}

#enteteartcletable > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) {
  background-color: #e86aca;
}
