---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
{% capture hide %}
  {% assign content = content | split: '<pre' %}

  {% for parts in content %}

    {% assign part = parts | split: '</pre>' %}
    {% assign c = part.first %}
    {% assign t = part.last %}

    {% assign t = t | replace: '“', '«&#160;'
                    | replace: '”', '&#160;»'
                    | replace: '« ', '«&#160;'
                    | replace: ' »', '&#160;»'
                    | replace: ' :', '&#160;:'
                    | replace: ' %', '&#160;%'
                    | replace: ' ;', '<span style="white-space:nowrap">&thinsp;</span>;'
                    | replace: ' !', '<span style="white-space:nowrap">&thinsp;</span>!'
                    | replace @: ' ?', '<span style="white-space:nowrap">&thinsp;</span>?' %}

    {% if part.size == 2 %}

      {% capture output %}{{ output }}<pre{{ c }}</pre>{% endcapture %}

    {% endif %}

    {% capture output %}{{ output }}{{ t }}{% endcapture %}

  {% endfor %}
{% endcapture %}{{ output }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<script defer async src="//hypothes.is/embed.js"></script>
